@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
	scrollbar-color: grey transparent;
}

/*! ISSUE (EN COURS) : refaire tout le site correctement après avoir fait le truc sur opclassroom*/
/** Chose à changé principalement : font-size passer en em et pas en px (pas forcément necessaire **/
/** Chose à changé principalement : refaire la responsivité et surtout refaire toutes les sections (actuel valide : 1 et 3 maitenant il manque 2 4 5  **/
/** Chose à changé principalement : faire par rapport au div et non au contenu du container **/
/** Chose à changé principalement : On va faire par étapes on gere d'abord le desktop et ensuite on fait les breakpoint et on va faire ça avec tout les pages 
/**! ISSUE 2 : je sais pas comment mettre un titre via la flex box.... (j'ai trouvé !)*/

a {
	text-decoration: none;
}

main {
	max-height: 100vh;
	background: #1E1E1E;
	background-size: auto;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

main>section {
	height: 100vh;
	display: flex;
	background: #1E1E1E;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	scroll-behavior: smooth;
}

main>section:nth-child(odd) {
	background: #1E1E1E;
}

main>section>div {
	font-weight: 300;
	color: #fff;
}

/* NAVBAR */

.navbar {
	z-index: 1;
	position: absolute;
	padding: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
}

.navbar a {
	font: 500 22px'Outfit', sans-serif;
	color: #FAF4F4;
}

.navbar .logo {
	font: bold 2.5em 'Outfit', sans-serif;
}

.navbar .nav-links ul {
	display: flex;
}

.navbar .nav-links ul li {
	margin: 0 25px;
}

@media screen and (max-width: 960px) {
	.navbar {
		display: none;
		padding: 0;
		z-index: 3;
	}
	.nav-links {
		display: none;
	}
	.navbar .logo {
		position: absolute;
		top: 40px;
		left: 30px;
	}
}

/* SECTION 1 */

#section-1 {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1300px;
	align-items: center;
	justify-content: space-around;
}

.section_1_3Dimg{
	display: flex;
	position: absolute;
}

._3Dlaptop, ._3Dlaptop * {
	box-sizing: border-box;
	user-select: none;
}

._3Dlaptop {
	max-width: 580px;
	height: 580px;
	margin-inline: 50px;
	position:relative;
	transform: scaleX(-1);
}

.welcome, .welcome * {
	box-sizing: border-box;
	user-select: none;
}

.welcome {
	
	margin-inline: 50px;
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
}

.welcome-span {
	color: #FAF4F4;
	font: 600 96px 'Outfit', sans-serif;
}

.welcome-span2 {
	font: 600 96px 'Outfit', sans-serif;
	background: -webkit-linear-gradient(60deg, rgba(48, 127, 226, 1.00), rgba(48, 127, 226, 0.00));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@media screen and (max-width: 660px) {
	._3Dlaptop {
		width: 450px;
		height: 450px;
		margin: 0;
	}
}

@media screen and (max-width: 600px) {
	
	.container-1 {
		flex-direction: column;
	}

	._3Dlaptop {
		width: 350px;
		height: 350px;
		margin: 0;
	}
	.welcome {
		margin: 0;
	}
	.welcome-span {
		font-size: 70px;
	}
	.welcome-span2 {
		font-size: 70px;
	}
}

/* SECTION 2 */

#section-2 {
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.container-2 {
	max-width: 1350px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.title-2 {
	flex-direction: column;
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
	margin-top: 25px;
}

.text-info {
	display: flex;
	flex-direction: column;
	margin-inline-start: 120px;
}

.img_sn {
	width: 600px;
	height: fit-content;
	position: relative;
}

.pfp_sn, .pfp_sn * {
	box-sizing: border-box;
	user-select: none;
}

.pfp_sn {
	width: 600px;
	margin: auto;
	position: relative;
}

.about-me  {
	font: 600 50px 'Outfit', sans-serif;
}

.animated-text, .animated-text * {
	box-sizing: border-box;
	width: auto;
	height: 50px;
	font: 600 40px 'Outfit', sans-serif;
	user-select: none;
}

.animated-text h2 {
	width: 500px;
	height: auto;
	overflow: hidden;
	position: relative;
}

#typewriter {
	width: max-content;
	overflow: hidden;
	position: relative;
	color: #0072ef;
}

.description, .description * {
	box-sizing: border-box;
	font: 400 32px 'Outfit', sans-serif;
}

.description .description-text {
	color: #FAF4F4;
	text-align: left;
	position: relative;
	width: 629px;
	height: 165px;
}

@media screen and (max-width: 480px) and (orientation: portrait) {

	.container-2 {
		height: 600px;
		margin-bottom: 25px;
	}

	.img_sn {
		width: auto;
		margin-bottom: 10px;
	}

	.pfp_sn {
		width: 350px;
	}
	.text-info {
		width: auto;
		align-items: center;
		margin: 0;
	}

	.animated-text {
		height: auto;
	}

	.animated-text h2, .description-text, #typewriter {
		font-size: 25px;
		width: auto;
	}

	.description .description-text {
		flex-wrap: wrap;
		width: 300px;
		text-align: center;
		height: auto;
	}
}

/* SECTION 4 */

#section-4 {
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.work {
	margin-top: 90px;
	margin-bottom: 150px;
	align-self: center;
	font: 600 50px 'Outfit', sans-serif;
	position: relative;
}

.work h2 {
	font: 600 50px 'Outfit', sans-serif;
}

.slide-container {
	max-width: 1350px;
	width: 100%;
	padding: 40px 0;
}

.slide-content {
	margin: 0 40px;
	overflow: hidden;
	border-radius: 25px;
}

.card {
	height: auto;
	border-radius: 25px;
	background-color: #fff;
}

.image-content, .card-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 14px;
}

.image-content {
	position: relative;
	row-gap: 5px;
	padding: 25px 0;
}

.overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #4070F4;
	border-radius: 25px 25px 0px 25px;
}

.overlay::before, .overlay::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: -40px;
	height: 40px;
	width: 40px;
	background-color: #4070F4;
}

.overlay::after {
	border-radius: 0 25px 0 0;
	background-color: #fff;
}

.card-image {
	position: relative;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: #fff;
}

.card-image .card-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 25%;
	border: 4px solid #e5e6e7;
}

.name {
	font-size: 18px;
	font-weight: 500;
	color: #333;
	font-family: 'Poppins', sans-serif;
}

.descriptions {
	font-size: 14px;
	color: #707070;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.check-project {
	border: none;
	cursor: pointer;
	font-size: 16px;
	color: #e5e6e7;
	padding: 8px 16px;
	background-color: #4070F4;
	border-radius: 6px;
	margin: 14px;
	transition: all 0.3s ease;
}

.check-project:hover {
	background: #265df2;
}

.swiper-navBtn {
	color: #6E93f7;
	transition: color 0.3s ease;
}

.swiper-navBtn:hover {
	color: #4070F4;
}

.swiper-navBtn::before, .swiper-navBtn::after {
	font-size: 40px;
}

.swiper-button-next {
	right: 0;
}

.swiper-button-prev {
	left: 0;
}

.swiper-pagination-bullet {
	background-color: #6E93f7;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #4070F4;
}

@media screen and (max-width: 768px) {

	.work{
		margin-bottom: 50px;
	}

	.slide-content {
		margin: 0 10px;
	}
	.swiper-navBtn {
		display: none;
	}
}

/* SECTION 5 */

#section-5 {
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
}

.container-3 {
	max-width: 1500px;
	height: auto;
	width: 100%;
	display: flex;
	margin-bottom: 70px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.title-3 {
	flex-direction: column;
	display: flex;
	box-sizing: border-box;
	flex-wrap: wrap;
}

.contact {
	font: 600 50px 'Outfit', sans-serif;
}

form {
	width: 90%;
	max-width: 600px;
	word-spacing: 5px;
	padding: 25px;
	margin-left: 90px;
}

.input-group {
	margin-bottom: 40px;
	position: relative;
}

input, textarea {
	font-family: 'Outfit', sans-serif;
	font-weight: 400;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	padding: 10px;
	max-height: 150px;
	outline: 0;
	border-radius: 5px;
	border-style: solid;
	border-color: #ffffff;
	border-width: 2px;
	color: #fff;
	background: transparent;
	font-size: 15px;
}

label {
	font-family: 'Outfit', sans-serif;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
	color: #FAF4F4;
	cursor: text;
	transition: 0.2s;
	user-select: none;
}

.button-submit {
	outline: none;
	background: #e5e6e7;
	border: 2px solid #e5e6e7;
	border-radius: 15px;
	font: 600 25px 'Outfit', sans-serif;
	color: #28282d;
	height: 50px;
	margin-left: 0.5rem;
	width: 100%;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	cursor: pointer;
}

input:focus~label, input:valid~label, textarea:focus~label, textarea:valid~label {
	top: -35px;
}

.container-glass {
	width: 650px;
	height: 300px;
	position: relative;
}

.glass {
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.h1-container {
	font: 600 50px 'Outfit', sans-serif;
	text-align: center;
	margin-top: 25px;
	user-select: none;
}

.description-container {
	font: 400 25px 'Outfit', sans-serif;
	text-align: center;
	margin-top: 25px;
	user-select: none;
}

.email {
	font: 500 25px 'Outfit', sans-serif;
	text-align: center;
	margin-top: 25px;
	word-spacing: 5px;
}

.linkedin {
	font: 500 25px 'Outfit', sans-serif;
	text-align: center;
	margin-top: 5px;
}

@media screen and (max-width: 1392px) {
}

@media screen and (max-width: 480px) {

	.container-3 {
		flex-direction: column;
		justify-content: center;
		margin: 0;
	}

	.title-3 {
		margin-top: 20px;
	}

	form {
		margin: 0;
		margin-right: 20px;
		max-width: 80%;
	}

	.email {
		margin-top: 10px;
	}

	.linkedin {
		margin-bottom: 10px;
	}

	.linkedin, .email {
		font-size: 20px;
	}

	.container-glass {
		width: 90%;
		margin-bottom: 25px;
		height: fit-content;
	}

	.container-glass .description-container {
		display: none;
	}

	.h1-container {
		font-size: 25px;
	}
}

/* SECTION 6 */

#section-6 {
	min-height: 100vh;
	position: relative;
	display: flex;
	text-align: center;
	justify-content: center;
}

#canvas-container {
	width: 100%;
	height: 100%;
}

#c {
	position: relative;
	background: rgb(255, 255, 255);
	opacity: 0.5;
	margin: auto;
	pointer-events: none;
}

.source-code {
	display: flex;
	z-index: 1;
	font: 600 45px "Outfit", sans-serif;
	color: #FAF4F4;
	position: absolute;
	margin-top: -16rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.description-source-code {
	display: flex;
	z-index: 1;
	position: absolute;
	font: 400 25px "Outfit", sans-serif;
	color: #808080;
	margin-top: -7rem;
	width: 629px;
	height: 165px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.github-button {
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.github-button button {
	z-index: 1;
	--glow-color: rgb(217, 176, 255);
	--glow-spread-color: rgba(191, 123, 255, 0.781);
	--enhanced-glow-color: rgb(231, 206, 255);
	--btn-color: rgb(100, 61, 136);
	border: .25em solid var(--glow-color);
	padding: 1em 3em;
	color: var(--glow-color);
	font-size: 15px;
	font-family: "Outfit";
	font-weight: bold;
	background-color: var(--btn-color);
	border-radius: 1em;
	outline: none;
	box-shadow: 0 0 1em .05em var(--glow-color), 0 0 4em 1em var(--glow-spread-color), inset 0 0 .75em .25em var(--glow-color);
	text-shadow: 0 0 .5em var(--glow-color);
	position: relative;
	cursor: pointer;
	transition: all 0.3s;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.github-button button::after {
	pointer-events: none;
	content: "";
	position: absolute;
	top: 120%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: var(--glow-spread-color);
	filter: blur(2em);
	opacity: .5;
	transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.github-button button:hover {
	color: var(--btn-color);
	background-color: var(--glow-color);
	box-shadow: 0 0 1em .25em var(--glow-color), 0 0 4em 0.5em var(--glow-spread-color), inset 0 0 .75em .25em var(--glow-color);
}

.github-button button:active {
	box-shadow: 0 0 0.6em .25em var(--glow-color), 0 0 2.5em 0.5em var(--glow-spread-color), inset 0 0 .5em .25em var(--glow-color);
}

.footer {
	z-index: 1;
	position: absolute;
	bottom: 0;
	padding: 20px 0;
	width: 100%;
}

.footer .social {
	text-align: center;
	padding-bottom: 25px;
}

.footer .social a {
	font-size: 24px;
	color: #fff;
	border: 1px solid #ccc;
	width: 40px;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	margin: 0 8px;
	opacity: 0.75;
}

.footer .social a:hover {
	opacity: 1;
}

.footer .copyright {
	text-align: center;
	font: 400 15px "Outfit", sans-serif;
	color: rgba(255, 255, 255, 0.50);
}

@media screen and (max-width: 600px) and (orientation: portrait) {
	.source-code {
		width: 300px;
	}
	.description-source-code {
		width: 300px;
		height: auto;
		font-size: 20px;
		margin-top: -25px;
	}
	.github-button button {
		margin-top: 8rem;
	}
}

/* 
Media Querries CSS
For Mobile devices: 320px-480px
---For Mobile Portrait View----
@media screen and (max-device-width: 480px) and (orientation: portrait)

--- For Mobile Phones Portrait or Landscape View ----
@media screen and (max-device-width: 640px) {
For Tablets or iPad: 480px - 768px

----For Tablet View----
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) 

For Laptop or small-size screen: 768px -1024px
For Desktop or large-size screen: 1024px -1200px
*/

/* END */