@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* scroll-snap-type: y proximity; */
}

main > section {
    height: 100vh;
    display: flex;

    background: #1E1E1E;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
}

main > section:nth-child(odd) {
    background: #1E1E1E;
}

main > section > div {
    font-size: 80px;
    font-weight: 300;
    color: #fff;
}

._3-d-accueil-image, ._3-d-accueil-image * {
    box-sizing: border-box;
}
._3-d-accueil-image {
    width: 654px;
    height: 542px;
    margin: 11rem;
    margin-left: 0px;
    position: relative;
    transform: scaleX(-1);
}

.welcome, .welcome * {
    box-sizing: border-box;
}

.welcome {
    text-align: left;
    font: 600 96px 'Outfit', sans-serif;
    position: relative;
    margin-top: 20rem;
}
.welcome-span {
    color: #ffffff;
    font: 600 96px 'Outfit', sans-serif;
}

.welcome-span2 {
    font: 600 96px 'Outfit', sans-serif;
    background: -webkit-linear-gradient(60deg,rgba(48, 127, 226, 1.00),rgba(48, 127, 226, 0.00));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image-of-myself, .image-of-myself * {
    box-sizing: border-box;
}

.image-of-myself {
    width: 100%;
    height: 50rem;
    margin-top: 30rem;
    margin-left: 18rem;
    position: relative;
    overflow: visible;
} 

.about-me, .about-me * {
    box-sizing: border-box;
}
.about-me {
    color: #ffffff;
    text-align: left;
    font: 600 40px 'Outfit', sans-serif;
    margin-top: 2rem;
    margin-left: -15rem;
    position: relative;
} 

.description, .description * {
    box-sizing: border-box;
    font: 400 32px 'Outfit', sans-serif;
}
.description {
    color: #ffffff;
    text-align: left;
    position: relative;
    margin-top: 32rem;
    margin-left: -5rem;
    width: 629px;
    height: 165px;
}
    

/*ça c'est un code démoniaque : 
.scroll-bar, .scroll-bar * {
    box-sizing: border-box;
}
.scroll-bar {
    position: relative;
    overflow: visible;
    margin-top: 18rem;
    margin-left: 25rem;
} 

.scroll-down, .scroll-down * {
    box-sizing: border-box;
}
.scroll-down {
    color: #ffffff;
    text-align: left;
    font: 400 24px 'Gruppo', sans-serif;
    position: absolute;
    margin-top: 45rem;
    margin-left: 110rem;
    width: 193.45px;
    height: 48.99px;
    transform: rotate(-89.942deg) scale(1, 1);
}

.arrow-scroll-down-first-page, .arrow-scroll-down-first-page * {
    box-sizing: border-box;
}
.arrow-scroll-down-first-page {
    width: 53.88px;
    height: 62.13px;
    position: absolute;
    margin-top: 53rem;
    margin-left: 113.7rem;
    transform-origin: 0 0;
    transform: rotate(-0.119deg) scale(1, 1);
    overflow: hidden;
}
.group {
    position: absolute;
    inset: 0;
}
.group2 {
    position: absolute;
    left: 2.53px;
    top: 21.07px;
    overflow: visible;
}
*/
